*{
    box-sizing: border-box;  
   

}

body{
    background-color: black;
  
}
.des-two{
    margin-top: 0;
}

#title{
    margin-top: 0;
    margin-bottom: 0;
}



#text{
    text-align: center; 
    /*background-color: aqua;*/
    width: fit-content;
    margin-left: 30em;
    margin-top: 12rem;
    color: white;    
    padding: 0%;
}



#bg{
    height: 550px;
   
    background-color: red;
    width: 350px;
    background-image: url(https://images.unsplash.com/photo-1608649672403-3609a75eae18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80);
   filter: grayscale();
    background-repeat: no-repeat;
  position: absolute;
    top: 6em;
    left: 4em;
    border-left: 1px solid black;

}
#img-div{
    display:none
}

#image{
    display: block;
    text-align: center;
    max-width: 100%;
}

@media only screen and (max-width:480px){

    #main {
      padding: 0% 0% 0% 0%;
      }
    }


    @media only screen and (max-width: 600px) {
        body {
          background-color: gray;
          
        }
      }


      @media only screen and (max-width: 600px) {
       * {
          box-sizing: border-box;
          color: black;
        }
      }



      
 

